<div class="container">
  <div class="project" id="project1">
    <h3>Gift Savers</h3>
    <h4>An app for remembering gift ideas.</h4>
    <div class="screenshot">
      <a href="http://pure-temple-5270.herokuapp.com/" target="_blank"><%= image_tag "gift-savers.png", alt: "GiftSavers" %></a>
    </div>
    </br>
    <p>
      Gift Savers was my very first Ruby on Rails project, developed with the intent of solving my own frequently-occuring gift-giving problem.
    </p>
    <p>
      Built with Ruby on Rails (v. 3.2.13).
    </p>
    <a href="https://github.com/xinecoulter/gift-saver-rails-app" target="_blank" class="github-round-icon"><%= image_tag "github3.png", alt: "GitHub" %></a>
  </div>


  <div class="project" id="project2">
    <h3>Solar Eyes</h3>
    <h4>A solar energy-to-oil conversion data visualization app.</h4>
    <div class="screenshot">
      <a href="http://www.solarey.es/" target="_blank"><%= image_tag "solar-eyes.png", alt: "SolarEyes" %></a>
    </div>
    </br>
    <p>
      Solar Eyes was borne out a desire to illustrate how solar power can reduce our reliance on oil.
    </p>
    <p>
      Built with Ruby on Rails (v. 3.2.13), JavaScript, JQuery, AJAX, and D3.
    </p>
    <h5>Created in collaboration with Nick Lombardi.</h5>
    <a href="https://github.com/xinecoulter/SolarEyes" target="_blank" class="github-round-icon"><%= image_tag "github3.png", alt: "GitHub" %></a>
  </div>


  <div class="project" id="project3">
    <h3>Made In NY</h3>
    <h4>A NYC startup scene data visualization app.</h4>
    <div class="screenshot">
      <a href="http://www.madeinny.io/" target="_blank"><%= image_tag "made-in-ny.png", alt: "Made In NY" %></a>
    </div>
    </br>
    <p>
      The purpose of Made In NY is to explore different ways of visualizing data with D3.
    </p>
    <p>
      Built with Ruby on Rails (v. 4.0.0), JavaScript, JQuery, AJAX, and D3.
    </p>
    <h5>Created in collaboration with Nick Lombardi.</h5>
    <a href="https://github.com/xinecoulter/MadeInNY" target="_blank" class="github-round-icon"><%= image_tag "github3.png", alt: "GitHub" %></a>
  </div>
</div>