<div id="projects">

  <div class="project" id="project-1">
  <div class="project-description">
    <h3>Gift Savers</h3>
    <p>
      Imagine you encounter a product that would make an absolutely perfect gift for someone you know, but his/her birthday is too far ahead in the future for you to purchase the product. Now think of how easily you forget about the product when that someone's birthday draws near. With Gift Savers, you can keep track of potential gift recipients and gift ideas with ease!
    </p>
    <div class="screenshot">
      <a href="http://pure-temple-5270.herokuapp.com/" target="_blank"><%= image_tag "GiftSavers.png", alt: "GiftSavers" %></a>
    </div>
    </br>
    <p>
      Gift Savers was my very first Ruby on Rails project, developed with the intent of solving my own frequently-occuring gift-giving problem.
    </p>
    <p>
      Built with Ruby on Rails (v. 3.2.13).
    </p>
    <a href="https://github.com/xinecoulter/gift-saver-rails-app" target="_blank" class="github-round-icon"><%= image_tag "github3.png", alt: "GitHub" %></a>
  </div>
  </div>


  <div class="project" id="project-2">
  <div class="project-description">
    <h3>Solar Eyes</h3>
    <p>
      Solar Eyes allows the user to select a US state and provide a number of solar panel installations. Based on the average amount of sunlight received in the selected state and the current stock price of crude oil, Solar Eyes calculates the number of barrels of oil per year that could be saved by those solar panels and also their monetary value.
    </p>
    <div class="screenshot">
      <a href="http://www.solarey.es/" target="_blank"><%= image_tag "SolarEyes.png", alt: "SolarEyes" %></a>
    </div>
    </br>
    <p>
      Solar Eyes was borne out a desire to illustrate how solar power can reduce our reliance on oil.
    </p>
    <p>
      Built with Ruby on Rails (v. 3.2.13), Javascript, JQuery, AJAX, and D3.
    </p>
    <h5>Created in collaboration with Nick Lombardi.</h5>
    <a href="https://github.com/xinecoulter/SolarEyes" target="_blank" class="github-round-icon"><%= image_tag "github3.png", alt: "GitHub" %></a>
  </div>
  </div>


  <div class="project" id="project-3">
  <div class="project-description">
    <h3>Made In NY</h3>
    <p>
      Using data obtained from CrunchBase, Made In NY visualizes NYC startups based on location, the amount of their funding, popularity on Twitter, and their sector. It also attempts to illustrate the difference between NYC and Silicon Valley when sector is taken into consideration.
    </p>
    <div class="screenshot">
      <a href="http://www.madeinny.io/"><%= image_tag "made-in-ny.png", alt: "Made In NY" %></a>
    </div>
    </br>
    <p>
      The purpose of Made In NY is to explore different ways of visualizing data with D3.
    </p>
    <p>
      Built with Ruby on Rails (v. 4.0.0), Javascript, JQuery, AJAX, and D3.
    </p>
    <h5>Created in collaboration with Nick Lombardi.</h5>
    <a href="" target="_blank" class="github-round-icon"><%= image_tag "github3.png", alt: "GitHub" %></a>
  </div>
  </div>

</div>