<div id="container">
  <div class="outer">
  <section class="project" id="project1">
    <header><h1>Gift Savers</h1></header>
    <h2>An app for remembering gift ideas</h2>
      <a href="http://pure-temple-5270.herokuapp.com/" target="_blank"><%= image_tag "gift-savers.png", alt: "GiftSavers" %></a>
    <p>
      Gift Savers was my very first Ruby on Rails project, developed with the intent of solving my own frequently-occuring gift-giving problem.
    </p>
    <p>
      Built with Ruby on Rails (v. 3.2.13).
    </p>
    <a href="https://github.com/xinecoulter/gift-saver-rails-app" target="_blank" class="github-round-icon"><%= image_tag "github3.png", alt: "GitHub" %></a>
  </section>
  </div>

  <div class="outer">
  <section class="project" id="project2">
    <header><h1>Solar Eyes</h1></header>
    <h2>A solar energy-to-oil conversion app</h2>
      <a href="http://www.solarey.es/" target="_blank"><%= image_tag "solar-eyes.png", alt: "SolarEyes" %></a>
    <p>
      Solar Eyes was borne out a desire to illustrate how solar power can reduce our reliance on oil.
    </p>
    <p>
      Built with Ruby on Rails (v. 3.2.13), JavaScript, JQuery, AJAX, and D3.
    </p>
    <p>Created in collaboration with Nick Lombardi.</p>
    <a href="https://github.com/xinecoulter/SolarEyes" target="_blank" class="github-round-icon"><%= image_tag "github3.png", alt: "GitHub" %></a>
  </section>
  </div>

  <div class="outer">
  <section class="project" id="project3">
    <header><h1>Made In NY</h1></header>
    <h2>A data visualization app for NYC startups</h2>
      <a href="http://www.madeinny.io/" target="_blank"><%= image_tag "made-in-ny.png", alt: "Made In NY" %></a>
    <p>
      The purpose of Made In NY is to explore different ways of visualizing data with D3.
    </p>
    <p>
      Built with Ruby on Rails (v. 4.0.0), JavaScript, JQuery, AJAX, and D3.
    </p>
    <p>Created in collaboration with Nick Lombardi.</p>
    <a href="https://github.com/xinecoulter/MadeInNY" target="_blank" class="github-round-icon"><%= image_tag "github3.png", alt: "GitHub" %></a>
  </section>
  </div>
</div>