<div id="contact">
  <p><%= image_tag "phone.png", alt: "Phone" %>718.406.1253</p>
  <p><%= image_tag "email.png", alt: "Email" %>ChristineTCoulter@gmail.com</p>
</div>

<div id="social-media">
  <a href="https://twitter.com/XineCoulter" target="_blank"><%= image_tag "twitter.png", alt: "Twitter" %></a>
  <a href="https://github.com/xinecoulter" target="_blank"><%= image_tag "github.png", alt: "GitHub" %></a>
  <a href="http://www.linkedin.com/in/christinecoulter" target="_blank"><%= image_tag "linkedin.png", alt: "LinkedIn" %></a>
</div>