<!DOCTYPE html>
<html>
<head>
  <title>Christine Coulter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Christine Coulter</h1>
<h2>NYC Web Dev</h2>
  <%= render partial: "navbar" %>

  <%= yield %>

  <%= render partial: "footer" %>
</body>
</html>
